{% extends "index.html" %}

 {% block title %}
<title>Services Page</title>
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block nav_links %}

<li class="nav-item">
  <a class="nav-link " aria-current="page" href="/">Home</a>
</li>


<li class="nav-item">
  <a class="nav-link" href="/contact">Contact Us</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/blogs">Blogs</a>
</li>
<li class="nav-item">
  <a class="nav-link active active_link" href="/services">Services</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="/news">Latest news</a>
</li>
{% endblock nav_links %} 

{% block body %}

<div class="services_section">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12  mb-3">
      <div class="card" >
        <img
          src="/static/images/web2.jfif"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">
            We specialize in creating customized, user-friendly, and visually stunning websites that cater to your unique needs. Our team of experienced developers can design, build, and maintain websites for businesses and individuals, ensuring a strong online presence and seamless user experience. Whether you need a brand-new website, updates to an existing one, or e-commerce solutions, we're here to bring your digital vision to life."
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12  mb-3">
      <div class="card" >
        <img
          src="/static/images/app.jfif"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">App Development</h5>
          <p class="card-text">
            Unlock the potential of your ideas with our app development service. We specialize in creating innovative, user-friendly mobile applications for businesses and individuals. From concept to launch and ongoing support, we're your partner in turning your app dreams into reality.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12  mb-3">
      <div class="card" >
        <img
          src="/static/images/content.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Content Writer</h5>
          <p class="card-text">
            Elevate your brand with our content writing expertise. We craft compelling, SEO-optimized, and engaging content that resonates with your target audience. From blog posts to website copy, we deliver the words that drive success for your business.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>

        
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card" >
          <img
            src="/static/images/tutor.jfif"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Technical Talks</h5>
            <p class="card-text">
              Empower your technical skills with our tutoring service. Our team provide personalized guidance and support in a wide range of technical subjects, helping you master complex concepts and excel in your studies or career.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12  mb-3">
        <div class="card" >
          <img
          src="/static/images/doubt2.png"
           
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Doubt Solving</h5>
            <p class="card-text">
              Our knowledgeable team is here to provide clear and concise explanations, helping you overcome challenges and achieve a better understanding of the subject matter.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12  mb-3">
        <div class="card" >
          <img
          src="/static/images/help.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Provide CSE Notes</h5>
            <p class="card-text">
              Unlock your academic success with our comprehensive CSE notes service. We offer a wide range of meticulously prepared notes covering various CSE subjects, ensuring you have a valuable resource to excel in your studies. Whether you need notes for programming, algorithms, databases, or any other topic, our collection has you covered.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock body %}
